.ant-input{
    background: #E3E3E3;
    border-radius: 82px;
    padding: 10px;
    margin-left: 50px;
    border: 0px;
    width: 300px;
}
.ant-input-search-button{
    display: none;
}
.ms-n5555{
    margin-top: 3px;
    margin-left: -47px;
}
.textField {
    height: 32px;
    width: 200px;
    border: 1px solid #e5e5e5;
    padding: 0 32px 0 16px;
    background: #e3e3e3;
    border-radius: 82px;
    position: relative;
    margin-left: 50px;
}
.filterSearch {
    margin-left: 50px;
    background: #e3e3e3;
    width: 400px !important;
}
.container-user {
    display: flex;
}
.user-info-nav {
    margin-left: 20px;
    align-self: center;
}
.name-user {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0;
}
.rol-user {
    font-weight: 400;
    font-size: 12px;
    color: #8f8f8f;
    margin-bottom: 0;
}
.user-css {
    width: 57px;
    height: 57px;
    border-radius: 65px;
}
.textField:hover {
    cursor: pointer;
}
.ms-n5 {
    margin-left: -40px;
}
.table-responsive {
    margin-top: 40px;
    background-color: #ffff;
}
.select-css {
    border: 1px solid #102973;
    box-sizing: border-box;
    border-radius: 46px;
}
.btnBuscar {
    height: 34px;
    width: 32px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.barraBusqueda {
    float: left;
    /*padding: 20px;*/
}

.SelectBusqueda {
    float: left;
    padding-bottom: 20px;
}

.title-filter {
    margin-bottom: 0px;
    margin-left: 15px;
    font-size: 9pt;
    font-weight: 800;
}

.margin-top {
    margin-top: 40px;
}

.uploadButton {
    margin-top: 20px;
    color: white !important;
    border-color: #ff0b0b !important;
    background: #ff0b0b;
    border-radius: 24px;
}
.uploadButton:hover {
    margin-top: 20px;
    color: white !important;
    border-color: #ff0b0b !important;
    background: #ff0b0b;
    border-radius: 24px;
}

/* table */
.ant-table {
    width: 100% !important;
    max-height: 400px;
    overflow: auto;
}

/* row data */
.ant-table-tbody > tr > td {
    height: 5px !important;
    padding: 20px !important;
}
.ant-table-thead > tr > th {
    height: 5px !important;
    padding: 20px !important;
}
.ant-pagination {
    display: flex !important;
    position: absolute !important;
    top: 80% !important;
    left: 70% !important;
    background: rgba(16, 41, 115, 0.15) !important;
    border-radius: 61px !important;
    width: auto !important;
    height: auto !important;
    padding-bottom: 8px !important;
    padding-top: 8px !important;
    margin-top: -9px !important;
}

.ant-pagination-prev::after {
    content: "Previous" !important;
    padding-left: 20px !important;
    color: #102973 !important;
    font-weight: 600 !important;
    cursor: pointer;
}
.ant-pagination-next::before{
    content: "Next" !important;
    padding-right: 20px !important;
    color: #102973 !important;
    font-weight: 600 !important;
    cursor: pointer;
}
.ant-pagination-item-link{
    border:0px !important;
    background: transparent !important;
}

.ant-pagination-item-active {
    padding: 10px !important;
    color: white !important;
    border-radius: 61px !important;
    padding-left: 32px !important;
    padding-right: 27px !important;
    border-radius: 61px !important;
    width: auto !important;
    height: auto !important;
    padding-bottom: 2px !important;
    padding-top: 8px !important;
    margin-top: -8px;
    position: relative !important;
}
.anticon-left{
    padding-left: 10px !important;
    color: #102973 !important
}
.anticon-right{
    padding-right: 10px !important;
    color: #102973 !important;
}
.ant-pagination-item-active a {
    width: 68px !important;
    height: 61.18px !important;
    padding-top: 10px !important;
    padding-bottom: 12px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: white !important;
    background: #102973 !important;
    border-radius: 75px !important;
    font-family: "Poppins" !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 27px !important;
}
.closed-css{
    width: 28.86px;
    height: 28.67px;
}

.out-css:hover {
    background: #f4f4f4;
    border-radius: 54px;
    color: #9f9f9f;
    width: 144.42px;
    height: 57px;
    font-size: 18px;
    border: transparent;
    font-weight: 600;
}
