.textField {
    height: 32px;
    width: 200px;
    border: 1px solid #e5e5e5;
    padding: 0 32px 0 16px;
    background: #e3e3e3;
    border-radius: 82px;
    position: relative;
    margin-left: 50px;
}
.filterSearch {
    margin-left: 50px;
    background: #e3e3e3;
    width: 400px !important;
}
.container-user {
    display: flex;
}
.user-info-nav {
    margin-left: 20px;
    align-self: center;
}
.name-user {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0;
}
.rol-user {
    font-weight: 400;
    font-size: 12px;
    color: #8f8f8f;
    margin-bottom: 0;
}
.user-css {
    width: 57px;
    height: 57px;
    border-radius: 65px;
}
.textField:hover {
    cursor: pointer;
}
.ms-n5 {
    margin-left: -40px;
}
.table-responsive {
    margin-top: 40px;
    background-color: #ffff;
}
.select-css {
    border: 1px solid #102973;
    box-sizing: border-box;
    border-radius: 46px;
}
.btnBuscar {
    height: 34px;
    width: 32px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.barraBusqueda {
    float: left;
    /*padding: 20px;*/
}

.SelectBusqueda {
    float: left;
    padding-bottom: 20px;
}

.title-filter {
    margin-bottom: 0px;
    margin-left: 15px;
    font-size: 9pt;
    font-weight: 800;
}

.margin-top {
    margin-top: 40px;
}

.uploadButton {
    margin-top: 20px;
    color: white !important;
    border-color: #ff0b0b !important;
    background: #ff0b0b;
    border-radius: 24px;
}

.hCBnvI {
    color: #000000;
    font-weight: 600;
    border-bottom-width: 0px !important;
}
.bsgpsK div:first-child {
    white-space: unset !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    font-weight: 100 !important;
}
.fhCFWO:not(:last-of-type) {
    border-bottom-style: solid;
    border-bottom-width: 0px !important;
    border-bottom-color: rgba(0, 0, 0, 0.12);
}

/*.hLGqlg{
    border: 1px solid rgba(0, 0, 0, 0.55);
}

.fvAeSn{
    border-bottom: 1px solid rgba(0, 0, 0, 0.55);
}*/
