.modal-header {
    border-bottom: 0px;
}
.modal-content {
    border-radius: 20px;
    padding: 10px;
}
.modal-footer {
    border: 0px;
}
.newCategory-css{
    border: 1px solid #102973 !important;
    font-weight: 600;
    background: transparent !important;
}
.ReactTags__tagInputField{
    border: 1px solid #102973 !important;
    border-radius: 8px !important;
    padding: 5px !important;
}
.input-Form {
    background: #f4f4f4;
    border-radius: 8px;
    border: 0px;
}
.select-css-modal {
    border: 1px solid #102973 !important;
    box-sizing: border-box;
}
.title-filter-modal {
    color: #515151;
    font-weight: 500;
    margin-bottom: 0px;
}
.redColorModal1 {
    color: #ff0000;
    cursor: pointer;
    text-decoration: none;
    font-size: 9pt;
    font-weight: 700;
    background: transparent;
    border:0px;
}
.redColorModal1:hover {
    color: #ff0000;
    cursor: pointer;
    text-decoration: none;
    font-size: 9pt;
    font-weight: 700;
    background: transparent;
    border:0px;
}
.redColorModal1:active {
    color: #ff0000;
    cursor: pointer;
    text-decoration: none;
    font-size: 9pt;
    font-weight: 700;
    background: transparent;
    border:0px;
}
.redColor {
    color: #ff0000;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.01em;
    font-family: "Poppins";
    height: 18px;
    font-style: normal;
    background: transparent;
    border:0px;
}

.redColor:hover {
    color: #ff0000;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.01em;
    font-family: "Poppins";
    height: 18px;
    font-style: normal;
    background: transparent;
    border:0px;
}
.modal-title {
    font-weight: 700;
    color: #000000;
}
.row-select {
    margin-top: 40px;
}
.next-css {
    background: #102973;
    border-radius: 54px;
    font-size: 14px;
    font-weight: 600;
}
.out-css {
    background: #f4f4f4;
    border-radius: 54px;
    color: #9f9f9f;
    font-size: 14px;
    border: transparent;
    font-weight: 600;
}

.out-csz {
    background: #f4f4f4;
    border-radius: 54px;
    color: #9f9f9f;
    width: auto;
    font-size: 16px;
    border: transparent;
    font-weight: 600;
}

.out-csz:hover {
    background: #f4f4f4;
    border-radius: 54px;
    color: #9f9f9f;
    width: auto;
    font-size: 16px;
    border: transparent;
    font-weight: 600;
}


.out-css-header {
    background: #f4f4f4;
    border-radius: 54px;
    color: #9f9f9f;
    font-size: 14px;
    border: transparent;
    font-weight: 600;
}
.out-css-header:hover {
    background: #f4f4f4;
    border-radius: 54px;
    color: #9f9f9f;
    font-size: 14px;
    border: transparent;
    font-weight: 600;
}

.closed-css-modal{
    width: 18.86px;
    height: 20.67px;
}

.info-box {
    background: #fbfbfb;
    border: 1px solid #c2c2c2;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 15px;
    margin-top: 40px;
}
.info-text-yellow{
    color: #52B141;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px;
}
.info-text{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 0px;
}
.tag-wrapper{
    padding: 3px;
    border: 1px solid #102973 !important;
    border-radius: 5px;
    cursor:pointer;
    margin-left: 5px;
}
.ReactTags__remove{
    margin-left: 10px;
    border: 0px;
    background: transparent;
}

.ReactTags__tagInput{
    margin-top: 5px;
}

.flex{
    display: flex;
}

.info-css{
    margin: 0 auto;
}

.cloud-css{
    margin: 0 auto;
    width: 50px;
}

.share-icon{
    width: 20.66px;
    margin-right: 6px;
}

.tag-span{
    border: 1px solid #102973 !important;
    border-radius: 8px;
    padding: 10px;
    margin-right: 10px;
    font-weight: 600;
}