.nav-logo{
    width: 15%;
}
.margin-navbar{
    margin-left: 40px;
}
.navTitle{
    color: #212529 !important;
    font-weight: 600;
}
.nav-css{
    position: relative;
    margin-top: 0%;
    margin-left: 30pt;
}

.nav-icon{
    width: 20.66px;
}
.nav-button{
    border:0px !important;
}
.nav-button:hover{
    background: transparent;
    border: 0px;
}